.HomeButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.HomeButtons {
  padding: 1rem 3rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.HomeButtonsCheck {
  background-color: #5dbd6d;
}

.HomeButtonsCheck:hover {
  background-color: #7DCA8A;
}

.HomeButtonsSubmit {
  background-color: #1c7eb4;
}

.HomeButtonsSubmit:hover {
  background-color: #5694cd;
}