.check {
  margin: auto;
  padding: 2em;
  max-width: 1080px;
}

.button {
  background-color: #5694cd;
  color: #ffffff;
  justify-content: center;
  padding: 1rem;
  border: none;
  border-radius: 0.5em;
  text-transform: capitalize;
  letter-spacing: 1.25px;
}

.button:hover {
  background-color: #5089bf;
}